<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block titulo %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>    
      footer {
        background-color: #f2f2f2;
        padding: 20px;
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse">           <!-- Menu de la app -->
    <div class="container-fluid">
      <nav class="navbar-header">
        <a class="navbar-brand" href="#">FarmApp </a>
      </nav>
      <ul class="nav navbar-nav">
        <li><a href="/ultimas_ventas">Ultimas Ventas</a></li>
        <li><a href="/consumos_clientes">Consumos de Clientes</a></li>
        <li><a href="/consumos_productos">Consumos de Productos</a></li>
        <li><a href="/productos_mas_vendidos">Productos mas vendidos</a></li>
        <li><a href="/clientes_gastos">Clientes con mas consumos</a></li>
         <li><a href="/agregar_registro">Nueva Venta</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href=""> {% block usuario %} {% endblock %}</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
    </ul>
    </div>

  </nav>  
<br>
<div class = "container">                    <!-- Cuerpo de la pagina -->


        {% block contenido %}
        {% endblock %}

</div>
  

<footer class="container-fluid text-center">
  <p>Final - IFTS18</p>
</footer>

</body>
</html>