{% extends 'base_session.html' %}
{% block usuario %} {{ usuario }} {% endblock %}

{% block contenido %}
<h2><strong> Clientes que compraron: {{producto}} </strong></h2>
    <br>

	<table class="table table-bordered table-striped">		
 				<tr>
 					{% for campos in cabezera %}
 					<td><strong> {{campos}}</strong></td>
 					{% endfor %}
 				</tr>

			{% for fila in lista %}
					<tr>
						{% for columna in fila %}
							<td>{{columna}} </td>
						{% endfor %}  
					</tr>
			{% endfor %}		
	</table>
<br><br>


{% endblock %}