{% extends 'base_session.html' %}
{% block usuario %} {{ usuario }} {% endblock %}

{% block contenido %}
<h2><strong> Los {{cantidad}} clientes con mayores gastos: </strong></h2>
    <br>

	<table class="table table-bordered table-striped">		
 				<tr>
 					<th>Cliente</th>
 					<th>Gasto Total ($)</th>
 				</tr>

			{% for fila in lista %}
					<tr>
						{% for columna in fila %}
							<td>{{columna}} </td>
						{% endfor %}  
					</tr>
			{% endfor %}		
	</table>
<br><br>


{% endblock %}