{% extends 'base_session.html' %}
{% block usuario %} {{ usuario }} {% endblock %}

{% block contenido %}
<h2><strong> Eliga un Cliente: </strong></h2>
    <br>

	<table class="table table-bordered table-striped">		
 				
			<form action="/lista_de_clientes" method="post" name="formRegistro">
				<tr><th>{{nombre_campo}}</th>
					<th></th>
				</tr>
					
				{% for columna in lista_de_clientes %}
					<tr><label><td>{{columna}}</td>
						<td>
							<input type="radio" name="cliente" value="{{columna}}">
						</td>
					</tr>
				{% endfor %}
				 <tr><td align="center" colspan="2">
				 	<button type="submit" class="btn btn-success">Enviar</button>
				 </tr>  
			</form>	
				
	</table>
<br><br>


{% endblock %}